html {
  background: #ffc600;
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Amatic SC", cursive;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
}

.score {
  background: rgba(255,255,255,0.2);
  border-radius: 1rem;
  line-height: 1;
  padding: 0 3rem;
}

.game {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  margin: 0 auto;
  width: 600px;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  bottom: -30px;
  content: "";
  display: block;
  height: 70px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.mole {
  background: url("mole.svg") bottom center no-repeat;
  background-size: 60%;
  height: 100%;
  position: absolute;
  top: 100%;
  transition: all 0.4s;
  width: 100%;
}

.hole.up .mole {
  top: 0;
}
